// Sass Variables
$blue: #30bee0;
$gray: rgb(221, 220, 220);
$white: aliceblue;
$darkgray: rgb(135, 135, 135);
$orange: rgb(247, 129, 56);
$anim: all 0.3s linear;
$spacing: 0.2rem;
$radius: 0.4rem;
$shadow: rgba(177, 177, 177, 0.4) 0px 2px 4px,
  rgba(181, 180, 180, 0.3) 0px 7px 13px -3px,
  rgba(198, 196, 196, 0.2) 0px -3px 0px inset;
$darker: rgba(255, 255, 255, 0.18);
$scale: scale(1.1);
$blueborder: 1.1px solid #30bee0;
// Sass Variables

.nav {
  nav {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 220, 220);
    width: 65%;
    margin: 0 auto;
    padding: 1.8rem 0;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    .link {
      padding: 0 2rem;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      font-weight: 500;

      &:hover {
        color: rgb(30, 82, 164);
        transition: all 0.3s linear;
      }
    }
    .leftline {
      border-left: 2px solid rgb(52, 33, 88);
    }
  }
}
